<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Streaming Example</title>
</head>
<body style="text-align: center;">
  <h2>Welcome to my Video Streaming Service</h2>
      <h3>Built using CloudFront, S3 and React</h3>
      <video width='700' height='400' controls>
    <source src="<%= signedUrl %>" type="video/mp4">
    </video>
  </video>
  <footer style="color: white;">You shouldnt be seeing this hahahaha. Made by Atharv N</footer>
</body>
</html>
